{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Administracao {% endblock %}

{% block main %}
    <h3>Novo cliente</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class=" ">
                {{ form.nome|bootstrap }}
            </div>
        </div>

        <div class="form-group">
            <div class=" ">
                {{ form.sobrenome|bootstrap }}
            </div>
        </div>

        <div class="form-group">
            <div class=" ">
                {{ form.idade|bootstrap }}
            </div>
        </div>

        <div class="form-group">
            <div class=" ">
                {{ form.nascimento|bootstrap }}
            </div>
        </div>

        <div class="form-group">
            <div class=" ">
                {{ form.email|bootstrap }}
            </div>
        </div>

        <div class="form-group">
            <div class=" ">
                {{ form.apelido|bootstrap }}
            </div>
        </div>

        <div class="form-group">
            <div class=" ">
                {{ form.observacao|bootstrap }}
            </div>
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

{% endblock %}
