{% load my_tags %}

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    <h3>Sobre nos</h3>
                    <p>Sistema basico para teste</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                    <h2>Sistema</h2>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                    <h2>Siga agente</h2>
                    <p>Nos siga pelas redes sociais e mantenha-se atualizado</p>
                    <a><i class="fa fa-facebook"></i></a>
                    <a><i class="fa fa-twitter"></i></a>
                    <a><i class="fa fa-linkedin"></i></a>
                    <a><i class="fa fa-pinterest"></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                    <h2>A empresa</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.0769360583126!2d-43.9437210
                    8508557!3d-19.921162486608722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699c20346840d%3A
                    0xd0248f2d149dbb69!2sE-Soft%20Sistemas!5e0!3m2!1spt-BR!2sbr!4v1599703440798!5m2!1spt-BR!2sbr"
                    width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
                    <p id="hora_server">
                        {% current_time "%d-%m-%Y %I:%M %p" as the_time %}
                        {{ the_time }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-bottom-text">All Right reserved by Marco Aurélio</p>
</footer>